@import "_normalize.scss";

@mixin clearfix() {
    & {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

p, h1, h2, h3, h4, h5, h6, ul, ol, dl, blockquote, table, fieldset {
  margin: 0 0 24px 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font: {
    style: normal;
    family: 'Proxima Nova', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    size: 16px;
  }
  line-height: 30px;
  color: #ccc;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 0 #000;
}

.content {
  width: 800px;
  margin: 0 auto;
  
  @include clearfix();
}

header {
  width: 100%;
  margin: 0;
  padding: 72px 0;
  background-color: #293034;
  background-image: url(../img/landing-shine.png), url(../img/noise.png);
  background-repeat: no-repeat, repeat;
  background-position: center top, center center;
  box-shadow: 0 0 24px rgba(0,0,0,.5);
  
  .content {
    position: relative;
  }
  
  h1 {
    height: 95px;
    background: url(../img/logo_huge.png) center center no-repeat;
    overflow: hidden;
    text-indent: -9999em;
    margin: 0 0 48px 0;
  }
  
  .content {
    font-size: 24px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
  
    p {
      margin-bottom: 48px;
    }
  
    #sign-up-button {
      display: inline-block;
      background: linear-gradient(#78879e, #576477);
      width: auto;
      padding: 0 12px;
      cursor: pointer;
      font-weight: bold;
      text-decoration: none;
      border: 1px solid #222832;
      border-radius: 5px;
      box-shadow: 0 1px 0 rgba(255,255,255,0.15);
      text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
      color: #fff;
      margin-left: 6px;
  
      &:hover {
        background: linear-gradient(#7d8da4, #576477);
      }
  
      &:active {
        background: linear-gradient(#576477, #78879e);
      }
    }
    
    #login {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 14px;
      line-height: 24px;
      
      a {
        display: inline-block;
        background: linear-gradient(#353a42, #262c35);
        width: auto;
        padding: 0 12px;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        border: 1px solid #1b2128;
        border-radius: 2px;
        box-shadow: 0 1px 0 rgba(255,255,255,0.15);
        text-shadow: 0 -1px 0 #000;
        color: #ccc;
        
        &:hover {
          background: linear-gradient(#3d434c, #262c35);
        }
        
        &:active {
          background: linear-gradient(#262c35, #353a42);
        }
      }
    }
  }
}

#main {
  background: #efefef url(../img/noise.png);
  width: 100%;
  margin: 0;
  padding: 72px 0;
  box-shadow: 0 0 24px rgba(0,0,0,.5);
  color: #444;
  text-shadow: none;
  font-size: 14px;
  line-height: 24px;
}

figure {
  width: 376px;
  float: left;
  margin-right: 48px;
  text-align: center;
  margin-bottom: 48px;
  
  img {
    width: 364px;
    padding: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 12px rgba(0,0,0,0.25);
    margin-bottom: 24px;
    display: block;
  }
  
  figcaption {
    padding: 0 6px;
  }
  
  &:nth-child(even) {
    margin-right: 0;
  }
}

footer {
  width: 100%;
  margin: 0;
  padding: 72px 0;
  background: #293034 url(../img/noise.png);
  font-size: 12px;
  text-align: center;
  box-shadow: 0 0 24px rgba(0,0,0,.5);
  
  a {
    color: #fff;
  }
}